<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/partials/navbar.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="<%= csslink %>">

</head>
<body>
    <!-- navbar -->
    <%- include('partials/navbar') %>
    
    <%- include(view) %>

    <%- include('scripts')
</body>
</html>